
<html>
    <head>
        <title>{{ config['APP_NAME'] }}</title>
        <link rel="shortcut icon" href="/css/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
        <!-- siimple -->
        <link rel="stylesheet" href="/siimple/siimple.min.css">
        <!-- jalt -->
        <link rel="stylesheet" href="/css/costu.css">
        <link rel="stylesheet" href="/css/icon.css">
        {% block headinit %}{% endblock %}
    </head>
    <body>
        <div class="siimple--float-right" style="margin: 10px">

            <a href="/dashboard"><div class="siimple-btn icon-user" style="color: grey"></div></a>
            {% if current_user.is_authenticated %}
            <a href="/logout"><div class="siimple-btn icon-out" style="color: grey"></div></a>
            {% endif %}
        </div>
        <div class="siimple-content center">{{ titlehome|safe }}</div>
        <div class="tab siimple--content picture-center" id="c1">
            <img id="banner" src="/img/{{ bannerhome }}"/> 
        </div>
        <div class="siimple-content center">
            {{ bodyhome|safe }}
            <br/><br/>
            <div class="siimple-btn siimple-btn--primary"><a href="/search" class="nodecorate">Rechercher dans la base de costume</a></div>
        </div>
        <div class="siimple-footer center">
            {{ contacthome|safe }}
            <div class="siimple-h3">Nos partenaires</div>
            <div style="margin:auto;">
                {% for partner in partners %}
                <div class="partenaire siimple-grid-col siimple-grid-col--1 siimple-grid-col--md-6">
                    <a href="{{ partner.url }}"> 
                        <img src="{{ partner.img }}" class="partenaire"/>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <script>
            img = document.getElementById('banner')
            var widthIni = img.width;
            var heightIni = img.height;
            img.width = document.documentElement.clientWidth * 0.8;
            img.height = document.documentElement.clientWidth * 0.8 * heightIni / widthIni;
        </script>
    </body>
</html>